<div class="row">
    <div class="col s12 m10 l8 offset-m1 offset-l2">
        <div class="card blue-grey darken-3 center-align">
            <div class="card-content white-text">
                <h1 class="cyan-text text-accent-3" style="margin-bottom: 60px
                ;">Sign Up!</h1>
                <form action="/auth/signup" method="POST">
                    <h5>Enter your username</h5>
                    <input name="username" type="text"  class="white-text"/>
                    <h5>Enter your email</h5>
                    <input name="email" type="text"  class="white-text"/>
                    <h5>Enter your password</h5>
                    <input name="password" type="password"  class="white-text"/>
                    <input class="loginBtn waves-effect waves-light btn cyan accent-3 blue-grey-text text-darken-3" type="submit"></input>
                </form>
            </div>
        </div>
    </div>
</div>